@font-face {
  font-family: "iconfont"; /* Project id 4244341 */
  src: url('iconfont.woff2?t=1694918976379') format('woff2'),
       url('iconfont.woff?t=1694918976379') format('woff'),
       url('iconfont.ttf?t=1694918976379') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dier:before {
  content: "\e695";
}

.icon-disan:before {
  content: "\e697";
}

.icon-diyi2-copy:before {
  content: "\e6bd";
}

.icon-diyimingdx:before {
  content: "\e72b";
}

.icon-diermingdx:before {
  content: "\e72c";
}

.icon-disanmingdx:before {
  content: "\e72d";
}

.icon-disanming11:before {
  content: "\e602";
}

.icon-dierming11:before {
  content: "\e603";
}

.icon-a-diyi1:before {
  content: "\e6a3";
}

.icon-dier1:before {
  content: "\e622";
}

.icon-disan1:before {
  content: "\e623";
}

.icon-disanming:before {
  content: "\e68c";
}

.icon-diyiming:before {
  content: "\e68d";
}

.icon-dierming:before {
  content: "\e68f";
}

.icon-disanming1:before {
  content: "\e62a";
}

.icon-diyiming1:before {
  content: "\e608";
}

.icon-dierming1:before {
  content: "\e662";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-fanhui1:before {
  content: "\e67a";
}

.icon-fanhui2:before {
  content: "\e601";
}

.icon-fanhui3:before {
  content: "\e624";
}

.icon-fanhui4:before {
  content: "\e61f";
}

.icon-fanhui5:before {
  content: "\e6aa";
}

